extends static/views/layout.pug

block append content
  body
    div.container-custom
      nav.navbar.navbar-inverse(role="navigation")
        ul.nav.navbar-nav
          li
            a(href="/") Home
          li.active
            a(href="/about") About
          li
            a(href="/faq") FAQ
      div.jumbotron
        h2 New In Town
        p is a tool to help plan a walking tour that makes sense in a new city.
        p For more info see #[a(href="/faq") the FAQ].
        br
        p.
          Created by #[a(href="https://github.com/thehungrysmurf") @thehungrysmurf]
