html
  head
    title A routing app with common sense for a tourist in a new city
    link(rel="stylesheet" type="text/css" href="static/public/bootstrap_base/css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lobster")
    link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Cabin")
    link(rel="stylesheet" type="text/css" href="static/public/css/custom.css")
    link(rel="stylesheet" type="text/css" href='http://maxcdn.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="static/public/bootstrap_base/js/bootstrap.min.js")
    script(type="text/javascript" src="static/public/scripts/jquery.backstretch.js")
    link(rel="shortcut icon" href="static/public/img/favicon.ico" type="image/x-icon")
  block content
  script.
    $.backstretch("static/public/img/city.jpg")
